@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 20px;
  color: #000;
}

a:hover {
  color: #2f2626;
  font-weight: bold;
}

nav {
  height: 70px;
  width: 75%;
  margin: 50px auto;
  background-color: #c5aa6a;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}

input {
  margin: 15px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#log {
  border: none;
}

ul {
  list-style: none;
  display: flex;
}

main .container {
  width: 75%;
  margin: 50px auto;
  position: relative;
  top: -50px;
}

table,
th,
td {
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
}

th {
  width: 50%;
  padding: 2px 30px;
}

td {
  padding: 10px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #ddd;
}

.filter {
  display: flex;
  border: 1px solid black;
  background-color: #999;
  align-items: center;
}
p {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}
