<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <!-- js sript -->
    <script src="../js/dashboard.js"></script>
    <script src="../js/download.js"></script>
    <nav>
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="form.php">Isi Data</a></li>
                <li><a href="#" onclick="exportToExcel('table')">Download</a></li>
            </ul>
        </div>
        <div class="logout">
            <input type="button" value="Sign Out" id="log" onclick="window.location='login.html';">
        </div>
    </nav>
    <main>
        <div class="container"> 
            <form action="dashboard.html" class="filter">
                <p>Filter Data</p>
                <input type="search" id="myInput" onkeyup="_filter()" placeholder="Search ..">
            </form>
            <table id="table">
                <tr>
                    <th style="width: 10%;">No</th>
                    <th style="width: 10%;">Tanggal</th>
                    <th style="width: 10%;">Waktu</th>
                    <th style="width: 10%;">Suhu Tubuh</th>
                    <th style="width: 34%;">Lokasi</th>
                    <th>Aksi</th>
                </tr>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </main>
</html>