<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>

<body>
    <script src="../js/menu.js"></script>
    <div class="left"></div>
    <div class="right"></div>
    <section>
        <div class="main-content">
            <div class="header-content">
                <h2>Peduli Diri</h2>
                <p id="user"></p>
            </div>
            <div class="content">
                <p>Catatan Perjalanan kamu hari ini, tetap patuhi protokol kesehatan</p>
                <a href="dashboard.html">Catatan Perjalanan</a>
            </div>
        </div>
    </section>
</body>

</html>